{% extends 'base.html' %}
{% block head %}
    {{super()}}
    <link rel="stylesheet" href="/static/stylesheets/user.css">
{% endblock %}
{% block content %}
<div class="user-form">
    <h2 class="signup-message">Welcome Back!</h2>
    <form method="POST" id="user_form">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
            <span>{{ error }}</span>
        {% endfor %}
        {{ field(placeholder=field.label.text) }}
        {% endfor %}
        <button >Login</button>
        <h3>Not signed up? <a href="/signup">Register</a></h3>
    </form>
</div>
{% endblock %}